{% extends 'base.html' %}
{% load static %}

{% block title %}Детали заказа №{{ order.id }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mt-5 text-center">Детали заказа №{{ order.id }}</h1>
    <p><strong>Дата создания:</strong> {{ order.created }}</p>
    <p><strong>Дата обновления:</strong> {{ order.updated }}</p>
    <p><strong>Статус:</strong> {{ order.paid|yesno:"Оплачен,Не оплачен" }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Общая цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }} руб.</td>
                    <td>{{ item.get_cost }} руб.</td>
                </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="2">Итого</td>
                <td colspan="2">{{ order.get_total_cost }} руб.</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'account_dashboard' %}" class="btn btn-secondary mt-3">Назад к личному кабинету</a>
</div>
{% endblock %}