{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mt-5 text-center">Добро пожаловать в наш магазин!</h1>
    <p class="lead text-center">
        Выберите интересующие вас товары в каталоге

        Обратите внимание

        Все вещи большемерят на 2 размера, кроме:
        Джинсы размер в размер
        Пиджаки на 1 размер большемерят
    </p>
    <div class="text-center">
        <a href="{% url 'product_list' %}" class="btn btn-primary">Перейти в каталог</a>
    </div>
</div>
{% endblock %}