{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mt-5 text-center">Личный кабинет</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Информация о пользователе</h3>
            <p><strong>Имя:</strong> {{ customer.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ customer.last_name }}</p>
            <p><strong>Email:</strong> {{ customer.email }}</p>
            <p><strong>Адрес:</strong> {{ customer.address }}</p>
            <p><strong>Почтовый индекс:</strong> {{ customer.postal_code }}</p>
            <p><strong>Город:</strong> {{ customer.city }}</p>
        </div>
        <div class="col-md-8">
            <h3>История заказов</h3>
            {% if orders %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Дата создания</th>
                            <th>Дата обновления</th>
                            <th>Статус</th>
                            <th>Итого</th>
                            <th>Детали</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.created }}</td>
                                <td>{{ order.updated }}</td>
                                <td>{{ order.paid|yesno:"Оплачен,Не оплачен" }}</td>
                                <td>{{ order.get_total_cost }} руб.</td>
                                <td><a href="{% url 'order_detail' order.id %}" class="btn btn-primary">Детали</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="mt-5 text-center">У вас пока нет заказов.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}