{% extends 'base.html' %}
{% load static custom_filters %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for image in product.images.all %}
        <div class="col-md-6">
            <img src="{{ image.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        {% endfor %}
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
            <p class="lead"><strong>Цена: {{ product.price }} руб.</strong></p>
            <p class="lead">На складе: {{ product.stock }} шт.</p>
            <form action="{% url 'cart_add' product.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_quantity">Количество:</label>
                    {{ form.quantity }}
                </div>
                <button type="submit" class="btn btn-success">Добавить в корзину</button>
            </form>
            <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Назад к каталогу</a>
        </div>
    </div>
</div>
{% endblock %}